/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2025 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

$is-dark: false !default;

@import "palettes/defaults";
@import "includes/palette_light";
@import "includes/base";
@import "includes/global-variables";
@import "includes/components/select2";

/*  ############# Definition des styles de l'install et de l'update ############# */

body {
    background-color: #1b2f62;
    color: #f5f5f5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#principal {
    width: 760px;
    text-align: center;
    margin: auto;
    padding: 40px;
    color: #f5f5f5;
}

a {
    color: #ffaa00;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #ffcc33;
}

#bloc {
    width: 760px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding: 10px;
    background: #2f4c81;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#logo_bloc {
    position: absolute;
    top: -25px;
    width: 145px;
    height: 80px;
    background: url("../pics/login_logo_glpi.png") no-repeat center;
}

p {
    padding: 0 20px;
    color: #d0d0d0;
}

.tab_check {
    padding: 10px;
    background-color: #ffffff;
    color: #333;
    border-radius: 6px;
}

.tab_check th {
    font-size: 14px;
    font-weight: bold;
    color: #1b2f62;
}

.tab_check td {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    color: #444;
}

.tab_check td i.fas,
.tab_check td i.fa-solid {
    font-size: 12px;
    margin-right: 3px;
    color: #ffaa00;
}

.red, .migred {
    color: #fff;
    background-color: #e74c3c;
}

.missing {
    color: #ffaa00;
}

.green {
    color: #2ecc71;
}

h2 {
    text-align: center;
    color: #ffaa00;
}

h3 {
    text-align: center;
    color: #f5f5f5;
}

.block {
    display: inline-block;
    width: 300px;
    color: #f5f5f5;
}

.license-container {
    width: 575px;

    textarea {
        color: #333;
        background-color: #fdfdfd;
        padding: 10px;
        border-radius: 6px;
    }
}

.alert:not(.alert-important) {
    color: #1b2f62;
    background-color: #ffedcc;
}

.form-selectgroup-boxes .form-selectgroup-label {
    color: #1b2f62;
}

.form-control {
    color: #1b2f62 !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popover.validation-messages {
    max-width: none;
    white-space: nowrap;
    background-color: #ffe8e8;
    color: #a94442;
}

